.border {
  border: solid red 3px;
}

.header {
  width: 100%;
  height: 40px;
  background-color: black;
}

.container {
  width: 100%;
}

@media screen and (min-width:600px) {

  .menu {
    float: left;
    width: 20%;
    background-color: white;
  }

  .content {
    margin-left: 20%;
    height: 50px;
    background-color: yellow;
  }
}

@media screen and (max-width:599px) {
  .menu ul li {
    display: inline;
  }
  .content {
    height: 50px;
    background-color: yellow;
  }
}

.footer {
  width: 100%;
  height: 40px;  
  background-color: green;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}
